logs/
/dist/
/web/pc/dist/
.idea/
.vscode/
*.log
*.log.*
volumes/
deploy/
web/server/celerybeat-schedule.dat
whl/
nohup.out

docker/logs
docker/mysql_data
docker/redis_data
docker/www/

server/celerybeat-schedule.db

docker/www/admin/*
docker/www/pc/*
docker/dist/
/web/index/dist/

server.zip